@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    scroll-behavior: smooth;
  }

  html,
  body {
    font-size: 16px;
    @apply font-aeonik;
  }

  h2 {
    @apply text-[2rem] leading-[3.12625rem] font-bold text-primary-black;
  }

  a {
    @apply text-secondary-black text-xl font-light;
  }
}
